/* Start of homepage hero section */
.ovearall-homescreen-container{

}
.homepage-hero-section{
width: 100%;
height: 87vh;
position: relative;
}

/* sidebar end */
.on-carosel-opacity-regulator{
position: absolute;
z-index: +2;
background-color: black;
width: 100%;
height: 100%;
opacity: .1;
}
.carosel-container{
position: absolute;
z-index:+1;
}

/* End of homepage hero section */

/* Start of animate scroll css */
.scroll-btn {
  position: absolute;
z-index: +2;
top:60vh;
left: 90vw;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-top: 20px;
}
@media screen and (max-width:50.625em) {
  .scroll-btn {
    top: 57vh;
    left: 85vw;
  }
}
@media screen and (max-width:32.1875em) {
  .scroll-btn {
    top:55vh;
    left: 83vw;
  }
}
@media screen and (max-width:21.5em) {
  .scroll-btn {
    top:70vh;
    left: 83vw;
  }
}
@media screen and (max-width:16.3125em) {
  .scroll-btn {
    top:65vh;
    left: 80vw;
  }
}
.actual-btn-arrow {
  font-size: 5rem;
  color:green;
  animation: bounce 2s infinite; 
}
@media screen and (max-width:50.625em) {
  .actual-btn-arrow {
    font-size: 4rem;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* End of animate scroll css */

/* Start of about section */
.about-section{
position:relative
}
.read-more-container{
  position: fixed;
  z-index: +3;
  margin: auto;
  left: 0px;
  right: 0px;
  background-color:rgb(226, 221, 221);
  width: 90vw;
  height: max-content;
  padding: 2rem;
  top: 30vh;

}

/* End of about section */
/* Start of starts section */
.statistics-home-section{
  background-color: white;
}
/* End of stats section */