.Overall-container-upcomming-events{
padding: 2rem;
}
.Overall-container-upcomming-events h1{
text-align: center;
}
.Overall-container-upcomming-events p{
    text-align: center;
    font-size: 1.5rem;
}