.overall-homepage-about{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(40rem,1fr));
height: max-content;
}
.left-side-img-hmpg{
height: 100%;
}
.image-container-div{
/* height: 50vh;
width: 30vh; */
}
.image-container-div img{
width: 100%;
height: 100%;
object-fit: cover;
}
.right-side-img-hmpg{

}
.about-title-heading{
text-align: center;
font-size: 4rem;
}
.second-title-heading{
text-align: center;
}
.about-paragraph{
font-size: 2rem;

}