
  .overall-counter-card{
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4),   
    0px 2px 4px rgba(255, 255, 255, 0.1) inset; 
transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .overall-counter-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5), 
                0px 2px 6px rgba(255, 255, 255, 0.15) inset; 
  }
.icon-spec{
color: rgb(76, 3, 72);
font-size: 8rem;
}
.count-text{
font-size: 3rem;
color:black;
}
.desc-text{
font-size: 1.5rem;
color: black;
}