.overall-essence-card{
height: max-content;
padding: 2rem;
box-shadow: 0 4px 15px rgba(255, 255, 255, 0.5); /* White shadow effect */
}
.essence-icon-container{
display: flex;
justify-content: center;
align-items: center;
}
.essence-icon{
font-size: 4rem;
}
.essence-text-box h1{
text-align: center;
font-size: 2rem;
}
@media screen and (max-width:16.26em) {
    .essence-text-box h1{
        font-size: 1.5rem;
        }
}
@media screen and (max-width:11.875em) {
    .essence-text-box h1{
        font-size: 8vw;
        }
}
.essence-text-box p{
text-align: center;
font-size: 1.5rem;
}
@media screen and (max-width:16.26em) {
    .essence-text-box p{
        font-size: 1rem;
    }
}